// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font: Raleway Thin, sans-serif;
$question-tab-color: gray;
$answer-tab-color: red;
$p-text-color: black;
$background-color: #F3F3F3;

div {
  font-family: $font;
  color: $p-text-color;
  background-color: $background-color;
  padding: 1vh 2vh;
  margin-bottom: 2vh;
}

.question {
  border-left: 6px solid $question-tab-color;
}

.answer {
  border-left: 6px solid $answer-tab-color;
}

p.main-text {
  font-weight: bold;
}

p.interlocutor {
  font-style: italic;
}
